.bg-first {
    background-color: #dea32c !important;
}

.bg-second {
    background-color: #968f82 !important;
}

.bg-green {
    background-color: #2c7b2f !important;
}

.bg-red {
    background-color: #92130a !important;
}

.bg-blue {
    background-color: #055ea7 !important;
}